/*.profiledata {
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  float: left;
  height: 300px;
}

.profilepic {
  float: left;
  height: 300px;

}*/

.profile {
  margin-top: 200px;
  background-color: rgba(0,0,0,0.6);
  padding-top: 80px;
  padding-bottom: 80px;
}
