



    <div class="jumbotron">
      <div class="container">
        <h1>ERIC VOZARI MEMORIAL</h1>
        <p class="lead">Heritage. Honor. Loyalty.</p>
        <p><a class="btn btn-danger">Learn more</a></p>
      </div>
    </div><!-- end of jumbotron -->

    <div class="container"><!-- Spalten -->
      <div class="row">
        <div class="col-lg-4 white">
          <h2>Last years winner.</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-danger btn-xs" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-lg-4 white">
          <h2>Become a member.</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-danger btn-xs" href="#">Learn more &raquo;</a></p>
       </div>
        <div class="col-lg-4 white">
          <h2>The Cup.</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-danger btn-xs" href="#">Learn more &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Lukas Ransmayr 2013</p>
      </footer>
    </div> <!-- /container -->





