
<!-- CSS STYLING -->

<style type="text/css">

body {
  font-family: Helvetica Neue;
   }

nav {
  color: white;
  background-color: black;
}

ul {
  list-style: none;
  margin: 0px;
}

li {
  margin: 0px;
  background-color: grey;

}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}



</style>

<!-- END OF CSS -->

<!-- HTML BEGINS -->


<nav>
<h1>LUKAS PRIVATE GOLF CLUB MEMBERS</h1>
</nav>



<p><% @members.each do |member| %></p>
<% fullname = member.firstname + " " + member.secondname  %>
<ul>
  <li><%= link_to fullname, details_url(member.id) %></li>
</ul>

<% end %>


