<div class="memberlist">


<div class="container white">

      <h1>Members</h1>

      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>HCP</th>
          <th>Golf Club</th>
          <th>Brand</th>
        </tr>

        <% @members.each do |member| %>
        <% fullname = member.firstname + " " + member.secondname %>
        <tr>
          <td id="member_list"><%= link_to fullname, member_url(member.id) %></td>
          <td><%= member.HCP %></td>
          <td><%= member.club %></td>
          <td><%= member.brand %></td>
        </tr>
        <% end %>

      </table>


</div>


</div>
